# --- Jupyter e Python ---
.ipynb_checkpoints/
__pycache__/
*.pyc

# --- Dati del progetto (DA IGNORARE) ---
# Ignora tutti i file CSV e di testo
*.csv
*.xlsx
*.pptx
NSCLC_Radiogenomica.pdf
radiogenomicsML.pdf
radiogenomicsNETWORK.pdf
radiogenomica_NSCLC_2205.pdf
presentazione_radiogenomica.pptx

# Oppure ignora intere cartelle (consigliato)
data/

# --- Ambienti Virtuali ---
.env
venv/
